<!DOCTYPE HTML>

<%- include('../partials/navbar') %>



			<div class="jumbotron well">
				<h2 align="center">
					Server List
				</h2>
				<table class="table table-bordered table-striped">  
				  <thead>
				    <tr>
				      <th>Server Name</th>
				      <th>Map</th>
				      <th>Players</th>
				    </tr>
				  </thead>
				  <tbody>
				  <!-- Build a row for every single server coming out of index right now -->
				  <% servers.forEach(function (server) { %> 
				      <tr>
				      <td><a href="/publicServer/<%= server.id %>"><%= server.serverName %></a></td>
				      <td><%= server.map %></td>
				      <td><%= server.currentPlayers %> / <%= server.maxPlayers %></td>


				  <% }); %>

				  </tbody>
				</table>

				<form action="/" method="POST" >
				Map: <input type="text" name="map" value="<%= defaultSearchVars.map %>"> <br>

				Minimum Players: <input type="text" name="minPlayers" value="<%= defaultSearchVars.currentPlayers %>"><br>		

				Max Players: <input type="text" name="maxPlayers" value="<%= defaultSearchVars.maxPlayers %>"><br>

				<input type="checkbox" 
							 name="serverNotFull" 
							 value="true"
							 <% if(defaultSearchVars.serverNotFull) { %>
							 	<%= "checked" %>
							 <% } %>
							 >
							 Server Not Full<br>

				<br><br>

				Sort By:
				<select name="orderByParameter">
				<option value="serverName">Server Name</option>
				<option value="map">Map</option>
				<option value="currentPlayers">Current Player Count</option>
				<option value="maxPlayers">Max Player Count</option>
				</select>

				<input type="checkbox" 
							 name="orderByDESC" 
							 value="true" 
							 <% if(defaultSearchVars.orderByDESC) { %>
							 	<%= "checked" %>
							 <% } %>
							 >
							 Sort in Descending Order<br>

				<br><br>

				<input type="submit" value="Submit">
				</form>


			</div>
